.background {
  height: 970px;
  width: 100%;

  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    object-fit: cover;
    transition: transform 0.8s, top 0.6s ease-out;
  }
}

.background__frontImage {
  position: relative;
}

.background__behindImage {
  position: absolute;
}
